USE_MOCK_API=true
USE_DEMO_LOGIN=true

APP_BASE_URL=http://localhost:3000

ENTRA_TENANT_ID=
ENTRA_CLIENT_ID=
ENTRA_CLIENT_SECRET=
ENTRA_AUTHORITY=https://login.microsoftonline.com/<tenant-id>
ENTRA_ISSUER=https://login.microsoftonline.com/<tenant-id>/v2.0
ENTRA_REDIRECT_URI=http://localhost:3000/api/auth/callback
GRAPH_SCOPE=https://graph.microsoft.com/.default
GRAPH_INVITE_REDIRECT_URL=http://localhost:3000/login

BC_BASE_URL=https://api.businesscentral.dynamics.com/v2.0
BC_TENANT_ID=
BC_ENVIRONMENT=Production
BC_COMPANY_ID=
BC_COMPANY_NAME=
BC_SCOPE=https://api.businesscentral.dynamics.com/.default
BC_API_PUBLISHER=onedata
BC_API_GROUP=tenantportal
BC_API_VERSION=v1.0
BC_CREATE_INCIDENTS_ENDPOINT=tenantIncidents
BC_INCIDENT_COMMENTS_ENDPOINT=tenantIncidentComments
BC_PROFILE_USERS_ENDPOINT=tenantPortalUsers
BC_PROFILE_USER_EMAIL_FIELD=email
BC_PROFILE_USER_CUSTOMER_NO_FIELD=customerNo
BC_PROFILE_USER_EXTERNAL_USER_ID_FIELD=externalUserId
BC_TENANT_PORTAL_USERS_ENDPOINT=tenantPortalUsers
PORTAL_ADMIN_EMAILS=
