USE_MOCK_API=true
USE_DEMO_LOGIN=true

APP_BASE_URL=http://localhost:3000

ENTRA_TENANT_ID=
ENTRA_CLIENT_ID=
ENTRA_CLIENT_SECRET=
ENTRA_AUTHORITY=
ENTRA_ISSUER=
ENTRA_REDIRECT_URI=http://localhost:3000/api/auth/callback

BC_BASE_URL=https://api.businesscentral.dynamics.com/v2.0
BC_TENANT_ID=
BC_ENVIRONMENT=Production
BC_COMPANY_ID=
BC_COMPANY_NAME=
BC_SCOPE=https://api.businesscentral.dynamics.com/.default
BC_API_PUBLISHER=onedata
BC_API_GROUP=tenantportal
BC_API_VERSION=v1.0
BC_PROFILE_USERS_ENDPOINT=
BC_PROFILE_USER_EMAIL_FIELD=email
BC_PROFILE_USER_CUSTOMER_NO_FIELD=customerNo
